<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948747004890-0p3f0m18jb0nr1uchl4tm0332mta3hto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948747004890-0p3f0m18jb0nr1uchl4tm0332mta3hto</string>
	<key>API_KEY</key>
	<string>AIzaSyCHzlJyzaz9GiQOXuUxlJCPS1-kH1oMi_I</string>
	<key>GCM_SENDER_ID</key>
	<string>948747004890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>notes-app-flutter-1ffc8</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-flutter-1ffc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948747004890:ios:97b1c46a04d829f47feee3</string>
</dict>
</plist>